@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

nav{
    height: auto;
    width: 60vw;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 5vh;
    width: 100%;
}

nav > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

li:hover{
    cursor: pointer;
}

nav > ul > li > a{
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 130%;
}

nav > ul > li:hover{
    background: rgb(92, 158, 110);
}

a{
    text-decoration: none;
}

.active{
    background: rgb(65, 142, 187);
}

.active:hover{
    background: rgb(65, 142, 187);
}

#kaasBody{
    background-color: rgb(245, 227, 165);
}

#patatBody{
    background-color: rgb(37, 159, 110);
}

#homeBody{
    background-color: rgb(195, 211, 117);
}

header{
    background-color: rgb(69, 131, 86);
    height: auto;
}

#articlesTitle{
    text-align: center;
}

#articles{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

footer{
    background-color: rgb(69, 131, 86);
    width: 100%;
    padding: 10px;
}

footer p {
    margin: 0px auto;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p,
a,
figcaption {
    font-family: 'Nunito';
}

figure {
    margin: 0px;
    text-align: center;
}

figure > img {
    width: 100%;
    transition: 0.5s transform;
    margin-bottom: 20px;
}

article > figure > img:hover {
    transform: scale(1.1);
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(100, 189, 124);
    width: 60vw;
    margin: 0 auto;
    padding: 10px;
}

.box{
    position: relative;
    width: 60vw;
    height: 400px;
    padding: 0px;
    background: none;
}

.box > a{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.box > a > figure{
    width: 100%;
    height: 100%;
}

.box > a > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.box > a > figure > img:hover{
    transform: none;
}

.box > a > section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding: 40px;
    font-size: 150%;
    background: linear-gradient(transparent, 80%,black);
    opacity: 100%;
    border-radius: 50px;
}

.box > a > section > h2,
.box > a > section > p{
    margin: 0px;
}

audio {
    width: 80%;
    margin-bottom: 50px;
}

video{
    width: 80%;
}

#scrollUpButton{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    border: none;
    font-size: 400%;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
}

footer > p{
    color: rgb(0, 0, 136);
}

@media screen and (max-width: 1000px) {
    article {
        background-color: red;
        width: 80vw;
    }

    nav{
        width: 80vw;
    }

    #scrollUpButton{
        width: 70px;
        height: 70px;
        font-size: 300%;
    }
    
}

@media screen and (max-width: 600px) {
    article {
        background-color: blue;
        width: 90vw;
    }

    nav{
        width: 90vw;
    }

    #scrollUpButton{
        width: 50px;
        height: 50px;
        font-size: 200%;
    }
    
}

@media screen and (max-width: 400px) {
    article{
        background-color: orange;
        width: 100vw;
    }

    nav{
        width: 100%;
        
    }

    nav > ul{
        flex-direction: column;
        height: auto;
    }

    p{
        font-size: 14px;
    }

    #scrollUpButton{
        display: none;
    }
}