@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#kaasBody{
    background-color: rgb(245, 227, 165);
}

#patatBody{
    background-color: rgb(37, 159, 110);
}

header,
footer {
    background-color: rgb(69, 131, 86);
    width: 60vw;
    padding: 10px;
    align-self: center;
}

header p,
footer p {
    margin: 0px auto;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p,
figcaption {
    font-family: 'Nunito';
}

figure {
    margin: 0px;
    text-align: center;
}

#mainImage {
    width: 100%;
    transition: 1s transform;
    margin-bottom: 20px;
}

#mainImage:hover {
    transform: scale(1.1);
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(100, 189, 124);
    width: 60vw;
    margin: 0 auto;
    padding: 10px;
}

audio {
    width: 80%;
    margin-bottom: 50px;
}

video{
    width: 80%;
}

#scrollUpButton{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    border: none;
    font-size: 400%;
    font-family: 'Nunito';
    text-decoration: none;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
}

footer > p{
    color: rgb(0, 0, 136);
}

@media screen and (max-width: 1000px) {
    article {
        background-color: red;
        width: 80vw;
    }

    header,
    footer {
        width: 80vw;
    }

    #scrollUpButton{
        width: 70px;
        height: 70px;
        font-size: 300%;
    }
    
}

@media screen and (max-width: 600px) {
    article {
        background-color: blue;
        width: 90vw;
    }

    header,
    footer{
        width: 90vw;
    }

    #scrollUpButton{
        width: 50px;
        height: 50px;
        font-size: 200%;
    }
    
}

@media screen and (max-width: 400px) {
    article{
        background-color: orange;
        width: 100vw;
    }

    header,
    footer{
        width: 100vw;
    }

    p{
        font-size: 14px;
    }

    #scrollUpButton{
        display: none;
    }
}